# Basic Variables Types

In [53]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

100
1000.0
John

In [ ]:
a = b = c = 1

In [ ]:
a,b,c = 1,2,"john"

# Containers

## List

In [4]:
l = [1,2]
l.append(3)
print(l[0])
print(l[1])
print(l[2])

1
2
3

In [ ]:
for x in l:
    print(x)

In [56]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[2:])      # Prints elements starting from 3rd element
print(tinylist * 2)  # Prints list two times
print(list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

## Tuple

kortka - lista tylko do odczytu

In [60]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)           # Prints complete list
print(tuple[0])       # Prints first element of the list
print(tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print(tuple[2:])       # Prints elements starting from 3rd element
print(tinytuple * 2)   # Prints list two times
print(tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [61]:
list[0] = 1

In [62]:
tuple[0] = 1

TypeError: 'tuple' object does not support item assignment

## Dictionary

dictionary - unordered list with key-value indexing

In [70]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print(dict['one'])       # Prints value for 'one' key
print(dict[2])           # Prints value for 2 key
print(tinydict )         # Prints complete dictionary
print(tinydict.keys())   # Prints all the keys
print(tinydict.values() )# Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

## Set

set - nonidexed dictionary

In [97]:
thisset = set(("apple", "banana", "cherry"))
# thisset = {"apple", "banana", "cherry"}

print(thisset)
print(thisset.pop())       # Prints value for 'one' key
print(thisset )         # Prints complete set

type(thisset)

{'banana', 'apple', 'cherry'}
banana
{'apple', 'cherry'}

set

In [85]:
type(eval("10.0"))

float

# Conditional instructions and logic operators

In [213]:
x = 2
print(x == 2)
print(x != 2)
print(x == 3)
print(x < 3)

True
False
False
True

## Operators and i or

In [214]:
name = "Jan"
age = 23
if name == "Jan" and age == 23:
    print("Your name is Jan and you have 23 years.")

if name == "Jan" or age == 23:
    print("Your name is Robert and you have 23 years.")

Your name is Jan and you have 23 years.
Your name is Robert and you have 23 years.

## Operator in

In [212]:
imie = "Robert"
if imie in ["Jan", "Robert"]:
    print ("Your name is Jan or Robert")

Nazywasz sie Jan lub Robert

## Operator Else

In [215]:
x = 2
if x == 2:
    print("x is equal two.")
else:
    print("x is not equal two.")

x is equal two.

## Operator is

In [216]:
x = [1,2,3]
y = [1,2,3]
print(x == y) 
print(x is y) 

tab = [1, 2, 3]
tab2 = ['a', 'b', tab]
print(tab == tab2[2])
print(tab is tab2[2])


tab.append(4) 
print(tab2[2])

True
False
True
True
[1, 2, 3, 4]

## Operator not

In [146]:
print(not False)             
print((not False) == (False))

True
False

## Operator elif

In [147]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

# Math operators

In [148]:
(3 + 2*4)/2.0

5.5

In [149]:
11%2

1

In [150]:
10*2

20

In [151]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

# String formatting

In [217]:
word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""

In [218]:
name = "Tomek"
surname = "Nowak"
print("Name: %s \nSurname: %s" % (name, surname))

Name: Tomek
Surname: Nowak

In [221]:
age = 23
print("Name: %s \nAge: %d" % (name, age))

Name: Tomek
Age: 23

In [222]:
print("Name: %d \nAge: %d" % (name, age))

TypeError: %d format: a number is required, not str

In [225]:
data = ("Tomek", 23)
print("%s has %d years" % data)

Tomek has 23 years

`%s` – String

`%d` – Integers

`%f` – Real nubers

`%.<ilość cyfr>` – Floating number

`%x/%X` – integer numbers in hexagonal system

In [226]:
a = 4.34
b = 54.432
c = 16

print("a = %f" % a)
print("b = %f" % b)
print("b = %.1f" % b)
print("In HEX %d is %X" % (c, c))

a = 4.340000
b = 54.432000
b = 54.4
In HEX 16 is 10

## Operations on strings

In [230]:
t = "Name: John, Pseudonym: \"Big Joe\""
t

'Name: John, Pseudonym: "Big Joe"'

In [228]:
len(t)

29

In [160]:
n = "abcdeabcde"
print(n.index("a")) # 0
print(n.index("d")) # 3

0
3

In [161]:
n = "abrakadabra"
print(n.count("a"))  # 5
print(n.count("ab")) # 2

5
2

In [162]:
n = "abcdefghijk"
print(n[2]) # c

c

In [163]:
n = "abcdefghijklmnop"
print(n[3:7]) # defg

defg

In [164]:
n = "abcdefg"

print(n[0:4]) # abcd
print(n[:4])  # abcd
print(n[::])  #whole string

print(n[4:len(n)]) # efg
print(n[4:])           # efg

abcd
abcd
abcdefg
efg
efg

In [165]:
n = "abcdef"
print(n[-1])    # f
print(n[-4:-2]) # cd
print(n[-4:])   # cdef
print(n[:-2])   # abcd

f
cd
cdef
abcd

In [166]:
n = "Hello"
print(n.upper()) 
print(n.lower())

WITAJ
witaj

In [231]:
n = "Hello Al"
print(n.startswith("Hello")) # True
print(n.startswith("Hi")) # False
print(n.endswith("Al"))     # True
print(n.endswith("World")) # False

True
False
True
False

In [233]:
n = "My name is John"
tab = n.split(" ")
print(tab)

['My', 'name', 'is', 'John']

# Loops

## While loop

In [169]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
#         continue
    i += 1

1
2
3

## For loop

In [170]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
      print(x)

apple
banana
cherry

In [171]:
for x in "banana":
    print(x)

b
a
n
a
n
a

## Funkcja Range

In [172]:
for x in range(6):
      print(x)

0
1
2
3
4
5

In [173]:
for x in range(2, 6):
      print(x)

2
3
4
5

In [174]:
for x in range(2, 30, 3):
      print(x)

2
5
8
11
14
17
20
23
26
29

## Nested loops

In [175]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions

In [176]:
def my_function():
      print("Hello from a function")

my_function()

Hello from a function

## Argument

In [177]:
def my_function(fname):
      print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

## Default Value

In [178]:
def my_function(country = "Norway"):
      print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## List as a parametrer

In [179]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Returned value

In [180]:
def my_function(x):
      return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Recursion

In [181]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Lambda

A lambda function is a small anonymous function, which can take any number of arguments, but can only have one expression.

In [182]:
x = lambda a : a + 10
print(x(5))

15

In [183]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [184]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [185]:
def myfunc(n):
      return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [186]:
def myfunc(n):
      return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [187]:
def myfunc(n):
      return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

22
33

# Folded Lists

In [236]:
n = 'quick brown fox jumps over the lazy dog'
s = n.split()  
d = []
for i in s:
    if i != 'nad':
        d.append(len(i))

print (d)

[5, 5, 3, 5, 4, 3, 4, 3]

In [237]:
n = 'quick brown fox jumps over the lazy dog'
s = n.split()
d = [len(i) for i in s if i != 'over']

print(d)

[5, 5, 3, 5, 3, 4, 3]

In [238]:
n = 'quick brown fox jumps over the lazy dog'
s = n.split()
d = [len(i) for i in s]

print(d)

[5, 5, 3, 5, 4, 3, 4, 3]

# Classes

In [191]:
class MyClass:
    x = 5

In [192]:
p1 = MyClass()
print(p1.x)

5

In [193]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

The `__init__()` function is called automatically every time the class is being used to create a new object.

In [194]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

The `self` parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

In [195]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

It does not have to be named `self` , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [196]:
p1.age = 40

In [197]:
del p1.age

In [198]:
del p1

# Inheritance

Parent Class

In [199]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [200]:
class Student(Person):
      pass

Use the `pass` keyword when you do not want to add any other properties or methods to the class.

In [201]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [202]:
class Student(Person):
    def __init__(self, fname, lname, year):
        Person.__init__(self, fname, lname)
        self.graduationyear = year
    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)


x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

# Functions with alterating number of arguments

In [203]:
def fun(arg1, arg2, arg3):
    # robi cos z trzema argumentami
    ...

In [239]:
def foo(arg1, arg2, arg3, *others):
    print ("First: %s" % arg1)
    print ("Second: %s" % arg2)
    print ("Third: %s" % arg3)
    print ("Others... %s" % list(others))

In [243]:
def fun(arg1, arg2, arg3, **options):
    if options.get("action") == "add":
        print ("Sum is %d" % (arg1 + arg2 + arg3))

    if options.get("get") == "first":
        return arg1

result = fun(1, 2, 3, action = "add", get = "first")
print ("Result: %d" % result)

Sum is 6
Result: 1

# Comments

In [211]:
# This is a comment.
'''
This is a multiline
comment.
'''
## This is a comment too.
pass

# Deleting Reference

In [207]:
var = 1
del var
print(var)

NameError: name 'var' is not defined

# Sources

- www.w3schools.com/python
- www.tutorialspoint.com/python
- www.learnpython.org/